@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.homeBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.232), rgba(0, 0, 0, 0.253)), url(./assets/banner.jpg) center/cover no-repeat;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    margin-top: 32px;
}

.textShadow {
    color: #fff;
    /* Black text */
    text-shadow:
        0 0 5px #00000041,
        0 0 10px #00000041,
        0 0 15px #00000041,
        0 0 20px #00000041;
}

.textShadow2 {
    /* Black text */
    text-shadow:
        0 0 5px #00000021,
        0 0 10px #00000021,
        0 0 15px #00000021,
        0 0 20px #00000021;
}